/* סוגי בוררים  */

/* בורר * בוחר את כל האלמנטים */
* {
background-color: #F5F5DC;
}

/* בורר , נותן אופציה לבחור כמה אלמנטים באותו סלקטור */
 h1,h2{
    color: #CB410B;
}

/* בורר אלמנטים */
button{
    font-size: 30px;
    
}

span {
    color: aliceblue;
background-color: #AB274F;
}

/* בורר id #*/
#signup{
   background-color:#002147;
   color: aliceblue;
}

/* בורר Class . */
.tag{
background-color: #FE6F5E;
}

li{
    color: blue;
}
.done{
    color: grey;
}

#clear{
    color: white;
    background-color: red;
}
/* בורר רווח - ניתן לבצע שינוניים בתוך אלמנטים פנימיים  */
header a{
    color:  teal;
    font-size: 30px;
}

#dislikes  a {
color: red;
}
 /* בורר + מחליט לשלוט על האלמנט שמעליו  */
input + button {
    background-color: pink;
}

/* בורר [] בוחר לשנות תכונות ספצפיות בתוך אלמנטים דוגמא */

input[type="password"] {
    color: rgb(0, 248, 12);
}

ul .done{
    background-color: #6f0fbed3;
    
}
 a[href*="www.google.com"]{
    color: rgb(185, 68, 185);
 }
 /* פסדאו דוגמאות  */
/* סלקטור hover אומר שאני שם את העכבר מעל משהו הוא עושה פעולה דוגמא */
button:hover{
    background-color: red;
    color: rgb(0, 255, 85);
    text-decoration: purple underline ;
   
}
/* עוד דוגמא להפעיל את הבורר במקומות ספציפיים */
/* .post button:hover {
    background-color: red;
    color: rgb(0, 255, 85);
} */

/* דוגמא נוספת לבורר תוצאות על ידי לחיצה */
button:active{
background-color: aquamarine;
color: rgb(30, 0, 197);
}

.post button{
    font-size: 15px;
    background-color: #3c4700;  
}
/* בורר זה בוחר ממיין אחד מתוך 3 או כל מספר  */
.post:nth-of-type(2){
    background-color: #FFDEAD;
}
/* בורר זה בוחר כל מספר שתכתוב  */
.post:nth-of-type(2n){
    background-color: #FFDEAD;
}
/* בורר זה מחליט על האות הראשונה */
h2::first-letter{
    font-size: 50px;
}
/*בורר זה מגדיש את הטקסט בצבע לאחר סימון בפסקאות  */
p::selection{
   background-color: #27ab4f;
}

/* בורר זה מדגיש את כל המסך לאחר סימון */
::selection{
    background-color: #AB274F;
 }

 /*נושא הספציפיות */
 /* תמיד אי די יהיה ראשון אחר כך קלאס ואחרי זה אלמנט */


 /* אימפורטאנט אומר לא משנה מה זה הכי חשוב לי תעקוף את כל הסגנונות ותשים אותי */
/* button{
    background-color: #27ab4f !important;
} */