body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}
nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}


ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}
 
ul {
    border: 1px solid red;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

/* בדוגמא הזאת שהכותרת במקסימום 800 פיקסל היא תהפוך לסגול ומתחת ל600 פיקסל היא תחזור לצבע השחור כי זה המינימום */
/* @media (min-width: 600px) and (max-width: 800px){
    h1 {
        color: purple;
    }
} */


/* @media (max-width: 1500px){
    h1 {
        color: yellow;
    }
}

@media (max-width: 1000px){
    h1 {
        color: orange;
    }
}
@media (max-width: 500px){
    h1 {
        color: red;
    }
} */



h1 {
    color: red;
}
/* עד 500 פיקסל הכותרת תהיה בצבע כתום */
@media (min-width: 500px){
    h1 {
        color: orange;
    }
}
/* שהוא מגיע ל1000 פיקסל הוא מקבל צבע צהוב */
@media (min-width: 1000px){
    h1 {
        color: yellow;
    }
}
/* שהוא מגיע ל1500 פיקסל הוא משנה לצבע ירוק */
@media (min-width: 1500px){
    h1 {
        color: green;
    }
}

/* @media (orientation: landscape) {
 body {
     background-color: magenta;
 }
} */

/* ברגע שהוא מגיע ל768 פיקסל גודל הגופן משתנה ל4 אמ כדי שלא תהיה ערמה בכותרת שמקטינים מסך*/
@media (max-width: 768px){
    h1 {
        font-size: 4em;
    }
    /* אלמנט יו אל באלמנט נאב יהיה שורה מרכזית */
    nav, nav ul {
        flex-direction: column;
        align-items: center;
    }
  
}
 /* הכותרת תהיה 3 אמ עד 576 פיקסל כדי שלא תהיה ערמה והכותרת תקטן* / */

@media (max-width: 576px){
    h1 {
        font-size: 3em;
    }
}