body{
    background-color: antiquewhite;
}
h1 {
    color: rgb(189, 172, 23);
    text-align: center;
}
h1::first-letter {
    color: black;
}
 #button1:hover{
    background-color: rgba(87, 255, 87, 0.959); 
 }
 #button2:hover{
    background-color: red;
 }

 .form{
    text-align: center;

 }
#search {
margin-left: 45px;
}
