body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    /* display flex אומר לתצוגה להתגמש על האלמנט הזה */
    display: flex;

    /* flex derection מאפשרת לגמישות הכיוון הציר הראשי באלמנט */
    /* בדוגמא הזאת כיוונתי אותו הפוך בשורה */
    /* flex-direction: row-reverse; */

    /* בדוגמא הזאת כיוונתי אותו הפוך בטור ולא בשורה */
    flex-direction: column;
}
#container div{
    width: 200px;
    height: 200px;
}

/* conteiner 1 */
#container1 {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;

        /* justify-content אומר להצדיק תוכן */
    /* להתחיל מהסוף להתחלה */
    justify-content: end;

    /* לרכז את התוכן למרכז */
    /* justify-content: center; */

    /* רווח בניהם */
    justify-content: space-between;

    /* רווח מסביב */
    /* justify-content: space-around; */

    /* space-evenly אומר שמירת מרווח שווה */
    /* justify-content: space-evenly; */
}

#container1 div{
    width: 200px;
    height: 200px;
}


/* conteiner 2 */
#container2 {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;

    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
    /* lex-wrap: nowrap;f */

}

#container2 div{
    width: 600px;
    height: 200px;
}


/* conteiner 3 */
#container3 {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    justify-content: center;
    /* יביא את הפריטים מהסוף למטה כי הגדרתי מרכז וההתחלה היא למעלה*/
    /* align-items: flex-end; */

    /* ישים את כל הפריטים מרכז אמצעי */
    align-items: center;

    /*יסדר את כל הטקסט בקו בסיסי מתי שאלמנטים בגבהים שונים ורוצים טקסט בקו אחד*/
    align-items: baseline;

}
#container3 div{
    width: 200px;
    height: 200px;
    font-size: 4em;
    text-align: center;
}

/* conteiner 4 */
#container4 {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    /* display flex אומר לתצוגה להתגמש על האלמנט הזה */
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items:flex-end ;
    align-items:start ;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
}


#container4 div{
    width: 200px;
    height: 200px;
}

/* conteiner 5 */
#container5 {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}


#container5 div{
    width: 200px;
    height: 200px;
    text-align: center;
}
/* nth of type אומר אלמנט מספר 3 */
/* ככה ניתן למקם אלמנט אחד מתוך קונטיינר */
div:nth-of-type(2) {
align-self: center;
}
div:nth-of-type(3) {
    align-self: flex-end;
    }